@charset "UTF-8";

.container_main{
    width: 80%;
    display: flex;
    flex-direction: column;
}

.container_form{
    display: flex;
    flex-direction: row;
    gap: 3;
}

.container_list_registration{
   display: flex;
    flex-direction: column; 
}